/* styles.css */

/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f0ed;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

.logo-container {
    margin-right: auto;
    padding-left: 1em;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding-right: 1em;
}

.nav-links li {
    margin-left: 1.5em;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff6347;
}